[2016-03-07 11:15] andytruett commented on #595
Unfortunately I am back to a busy season and would be rather slower than I'd like to get it done. I'll tinker in the time I have, but if anyone beats me to it, no biggie.

[2016-03-08 06:54] play4god opened #596 "Map Display Reveals Private Address Information"
Hi, everyone...

I discovered tonight that, even if you set a user's privacy, and all family members' privacy settings to hide the address, address information is still displayed in these circumstances for non-admin users with 'Full Access':

- [x] Click Directory Map - drill in - click a pin - you can see the name of the person living on that street.  I suggest that pins shouldn't show for people

[2016-03-08 06:59] play4god opened #597 "Feature Request: Separate login and new user registration choices"
Hi, all...

I wanted to suggest something for a use case we have.

Would it be possible to provide a login dialog both *without* the Create an Account selection, and another where it can be turned on (based on URL or query parm)?

We would like to approve all new accounts (that works great as-is), but we are also going to embed onebody in our mobile app.  Since anyone can download the mobile app,

[2016-03-08 14:55] seven1m commented on #597
@play4god while this sounds like a neat idea, I don't know how you would make something like that secure. Once someone figured out the query param, then they could create an account from anywhere.

Here's what I'd do:

* Turn off account creation. This makes your mobile app work as desired.
* For your kiosk, build a custom app that uses the OneBody API to create an account.

I'm going to close thi

[2016-03-08 14:55] #597 closed

[2016-03-08 14:56] seven1m commented on #596
@play4god thanks for reporting! We'll get this fixed before the next release.

[2016-03-08 15:02] play4god commented on #597
Thanks, Tim. I ask because we are moving to one body from another platform.  They provide a kiosk signup page that allows this - that page now that I think of it is password protected to access it - so an admin can start it on the kiosk/ so addresses the concern you expressed that anyone with the address could use it.

Would that approach work better?

-Jeff

[2016-03-08 15:02] play4god commented on #596
Super!  Thanks!!

-Jeff

[2016-03-08 15:05] seven1m commented on #597
🤔

[2016-03-09 20:31] andytruett opened #598 "Feature Request: drag and drop documents/folders"
It would be great to be able to drag and drop documents between folders!

[2016-03-10 01:01] AndyGauge commented on #257
I was going to begin working on this, but when I started to dive into the existing functionality, I'm concerned this is blocked by households.  When I search for a term, my development log states 'concat(people.first_name, ' ', people.last_name) like '%search_term%' or families.name like '%search_term%.  Is it safe to proceed on this feature without the households complete?

[2016-03-10 23:52] #593 closed

[2016-03-18 23:09] notdodgy opened #600 "Strengthen password requirements"
- [ ] Add an admin configurable option for minimum password length. Change default length to 6.
- [ ] Add the [strong_password](https://github.com/bdmac/strong_password) gem, but only enable with an Admin configuration option, and disable by default.

[2016-03-19 14:51] seven1m commented on #600
@notdodgy thanks, this is a good idea! I updated the ticket description based on what I think we should do and marked the ticket as ready in case someone wants to make it happen.

[2016-03-19 23:27] hooray4me opened #601 "User photo is blurry when viewing a message"
User photo is blurry when viewing a message sent to a group.
![image](https://cloud.githubusercontent.com/assets/12399138/13901871/28f7df98-ee00-11e5-8186-d00d1cbb2bfd.png)

[2016-03-19 23:39] seven1m commented on #601
Hmm, I see it too! Should be an easy fix.

[2016-03-29 17:18] AndyGauge commented on #257
How does a nickname get added to a member?
1. A field within the profile
2. should this be included in the CSV?

[2016-03-31 23:11] seven1m commented on #601
Fixed in #602!

[2016-03-31 23:11] #601 closed

[2016-04-04 00:42] AndyGauge commented on #257
I'm setting Person.alias to be approved by admin in the Updater class.  If this is incorrect, please let me know.

Thanks

[2016-04-04 01:04] AndyGauge commented on #257
The requirement 'show nickname in brackets after real name' is that everywhere in the site or just the directory?  It would be easy to change the .name method, but that may be too broad of a change.  Here is a proposed direction.  The title of the show person uses the nickname, but the rest of the site preserves the normal name.
![image](https://cloud.githubusercontent.com/assets/6525150/14236207/

[2016-04-04 01:10] AndyGauge commented on #257
![image](https://cloud.githubusercontent.com/assets/6525150/14236252/4e9e7aae-f9c7-11e5-959a-71f35ef13b4c.png)

[2016-04-06 00:32] seven1m commented on #596
This was fixed in ed643b6.

[2016-04-06 01:09] #257 closed

[2016-04-06 01:19] play4god commented on #596
Thanks, Tim! :)  How can I apply the update?  Sorry - I’m new at this. :)
Jeff

[2016-04-06 01:21] seven1m commented on #596
@play4god jump in Slack chat and I or someone else can help you. http://chat.church.io/

[2016-04-07 22:25] seven1m commented on #596
Item number one was fixed, but not number two. Reopening.

[2016-04-07 23:47] play4god opened #605 "Default privacy settings not applied for new user."
I'm currently using version 3.6.0-pre, however also saw this issue in 3.5.0.
Admin settings are set to have the following privacy sharing settings on for new accounts, and all other off:
Share Anniversary
Share Birthday

After new account creation, the Privacy settings are:

## Family

- Visible

## User

- Activity
- Anniversary
- Address
- Home Phone
- Birthday

So it looks like the admin settin

[2016-04-07 23:57] play4god commented on #596
More thoughts on this one - not sure the best way to decide when to show the map, since there are no family-specific privacy settings.  Is the family map only enabled when all family members have their preference to show it?  Or better yet - should there be privacy settings the family object itself?
Just some thoughts.

[2016-04-23 17:36] khebbie commented on #440
Hello!

You have a new message, please read <http://eduenter.vn/gathering.php?bw>

klaus@hebsgaard.dk

[2016-04-23 17:36] khebbie commented on #530
Hello!

You have a new message, please read <http://husband.tv/amount.php?d>

klaus@hebsgaard.dk

[2016-04-23 17:39] khebbie commented on #359
Hello!

You have a new message, please read <http://npbe-america.com/depression.php?73c3>

klaus@hebsgaard.dk

[2016-04-23 17:41] khebbie commented on #425
Hello!

You have a new message, please read <http://www.orangecountytacoguy.com/election.php?i8>

klaus@hebsgaard.dk

[2016-04-23 17:42] khebbie commented on #349
Hello!

You have a new message, please read <http://kcsr.ba/peasant.php?cepb>

klaus@hebsgaard.dk

[2016-04-23 17:53] khebbie commented on #349
Hello!

You have a new message, please read <http://myphamchatluong.info/cost.php?4yl>

klaus@hebsgaard.dk

[2016-04-25 19:51] pherzogchc opened #606 "Not sending changes emails, but sending "Verify Email""
Onebody 3.5.0 on digitalocean using mailgun freshly installed on April 18
"Verify Email" emails are being sent and received but I am not seeing emails sent on Mailgun logs when users change their contact information.  I have tried changing the email addresses in the **Send Email Changes to** and **Send Updates to** field and also enabled **Updates Must Be Approved**.  I confirmed with DigitalOcean

[2016-04-27 17:45] warain opened #607 "Cannot Access Admin - after manual install on digitalocean"
The site works well, but I am not able to access admin section
I get a 500 internal error - by site is install in a subdomain folder, members.domain.org

This is the error i get when I visit https://members.domain.com

Error
We're sorry, but something went wrong.
We've been notified about this issue and we'll take a look at it shortly.

Any help would be greatly appreciated.

Thanks

[2016-04-27 19:18] seven1m commented on #607
Sorry this is an issue with permissions. Check out #476 for the solution.

[2016-04-27 19:18] #607 closed

[2016-04-28 20:34] pherzogchc commented on #606
Should I expect to see something in the log for emails be sent -- like "email_update" being called?

I, [2016-04-28T16:22:44.458921 #9323]  INFO -- : Completed 200 OK in 146ms (Views: 126.5ms | ActiveRecord: 4.8ms)
I, [2016-04-28T16:23:01.820304 #9323]  INFO -- : Started PATCH "/people/713" for 127.0.0.1 at 2016-04-28 16:23:01 -0400
I, [2016-04-28T16:23:01.824033 #9323]  INFO -- : Processing by Pe

[2016-05-02 23:33] hooray4me opened #608 "Inline images appear as attachments and render improperly"
What was composed:
![image](https://cloud.githubusercontent.com/assets/12399138/14971034/f6016f08-1093-11e6-9af6-ba2318bd93e2.png)

And what is received via email:
![image](https://cloud.githubusercontent.com/assets/12399138/14971053/1925691c-1094-11e6-9f8f-5e3c91584d14.png)

And what is rendered in onebody:
![image](https://cloud.githubusercontent.com/assets/12399138/14971078/4b22509c-1094-11e6-8

[2016-05-02 23:44] hooray4me commented on #608
This is similar to issue #587

[2016-05-03 00:50] seven1m commented on #608
Duplicate of #587. I'm working on this 😄

[2016-05-03 00:50] #608 closed

[2016-05-04 05:36] warain commented on #476
Hey awesome folks, thanks for providing this code open, I have follow all the directions and have successful installed the program, for my church based non-profit but it seems I am still not able to access the admin, after I changed all the permission as above.

I am running this program on a sub domain, and I am able to access everything else, except the admin
Thanks
![screen shot 2016-05-04 at 1

[2016-05-04 13:35] seven1m commented on #476
@warain please run this on your server in the OneBody directory:

[code]

[2016-05-04 13:36] seven1m commented on #476
I'm going to reopen this issue since it seems that it is still happening.

[2016-05-04 15:34] warain commented on #476
@seven1m thank you for your reply, I have tried the above approach, several times, but the same error shows

[2016-05-05 12:09] Newman101 opened #609 "Validation: /app/models/custom_report.rb"
Hi. Looks like the format validation in CustomReport is insufficient:

[code]

Maybe there should be a bit more validation anchors to improve security? If needed, I can create PR for this.

Thank you.

[2016-05-05 13:39] seven1m commented on #609
Oh, wow, you're right. This should never have been written this way. 😬

I think a major rewrite of this code is in order. If you have the nerve to do it, please go for it. If not, I'll work on it. Thanks!

[2016-05-05 14:05] Newman101 commented on #609
Sure, I'll send PR as soon as possible. =)

[2016-05-06 09:48] Newman101 opened #611 "Validation: /app/models/person.rb"
Another possible validation issue.

[code]

This one has beginning anchor but the closure is missing. As a consequence, users can fool this validation by inserting new lines into their username as the regular expression only checks the boundaries of a line and not the full text. Hence, this might be an another security issue.

[2016-05-06 14:33] seven1m commented on #611
I don't see what makes that a security concern. Have you tried doing that on the site? The link that's generated wouldn't, as far as I can tell, do anything useful/harmful.

[2016-05-10 22:04] Newman101 commented on #611
Hi. Looks like this is not a concern after all. I think this one can be certainly closed.

[2016-05-10 22:16] Newman101 opened #613 "Unprotected redirect: app/controllers/families_controller.rb"
Hi.

Looks like there is an unprotected re-direct in families_controller.rb:

[code]

The potential danger here is due to manipulation possibility of ```params``` which could contain something like this:

[code]

Due to this danger, it would be wise to limit the redirections only to current host.

Thanks.

[2016-05-10 22:22] #611 closed

[2016-05-10 22:45] seven1m commented on #613
Thanks, we'll get that fixed.

[2016-05-26 12:01] maymint commented on #179
Hello, I was wondering if this is something that can be worked on as we would really like to implement the functionality soonest. How can we go about finding a developer that is already familiar with this platform even on a paid basis to help implement it please?

[2016-05-26 14:36] seven1m commented on #179
@maymint I plan to work on this over the next few weeks, as I have some time off. I'll let you know...

[2016-05-27 06:52] amitgds commented on #179
Hello, Can any one share the code of partially completed feature who has worked on this before. Actually I am looking for this feature to implement in to my application. If I will get the partially completed code then may be I can work on this to wrap this feature.

[2016-05-30 20:51] jsuchome opened #615 "Import cannot handle UTF-characters"
I can export people to csv file, and by looking into that file I can see that the names are correcly shown, including special (language specific) characters (say, Jiří, for example). However, importing the same file back does seem to ignore these characters.

I assume it might be some simple conversion function missing that is present for the export functionality, but forgotten for the import... ?

[2016-06-05 03:53] bridgebuilders opened #619 "Unable to move document to new folder"
I am able to select a new folder from the drop-down but there is not apply button to actually make the document move.

[2016-06-19 03:17] gustavobim commented on #615
I'm had the same issue you described. In order to import special characters I added a new line in the csv.rb file (/app/models/import_parser/strategies/csv.rb) to force the encoding to UTF-8 (added just before the CSV.parse call): `string.force_encoding('UTF-8')`

Also, in my import, some addresses contained the comma value. As a workaround, I'm changing the separator to semicolon. I did that by c

[2016-06-20 08:26] jsuchome commented on #615
+1 for that `force_encoding` line, I can confirm it works for me

[2016-07-07 04:11] DrSayre commented on #600
@seven1m I can do this.  I have been wanting to get involved more in open source and this seems straight forward enough to start with.  As far as strong_password goes, were you thinking of just using the basic option of setting password_strength to true if the Admin has it turned on?

[2016-07-07 13:32] seven1m commented on #600
@DrSayre that'd be great! Jump in chat and let us know if you need help!

Your solution sounds good.

[2016-07-07 18:52] TechWilk opened #626 "Timeline AJAX URL's not respecting SSL"
Data URL for AJAX timeline pagination is generated incorrectly:

`<ul class="timeline" data-next-url="http://onebody/stream.json?timeline_page=2">`

[2016-07-18 17:54] internetjason opened #628 "Email Not Distributing to Group Email Addresses"
We've chatted on Slack, so I won't go into too many details. The bottom line is that I can send emails OUT of OneBody and they are delivered as expected (using Mailgun), but incoming emails to group addresses are not being distributed.

Here's the production.log.
I, [2016-07-18T13:50:59.216434 #30934]  INFO -- : Started POST "/emails.mime" for 127.0.0.1 at 2016-07-18 13:50:59 -0400
I, [2016-07-18T

[2016-07-21 07:29] coderaven opened #629 "Vagrant - Error on provider support"
Hi, I wanted to contribute to onebody and decided to go on to the vagrant setup for easiness of setting up the environment, however - every time I run "vagrant up" in the project directory, I get this error:

[code]

[2016-07-22 13:48] maymint commented on #179
Hello @seven1m and @amitgds wondering if anyone has looked any further into this feature and if there is any idea of when it may be available online? many thanks

[2016-07-23 00:32] seven1m commented on #179
I'm working it right now actually! I'll keep you posted.

[2016-08-01 22:21] internetjason opened #630 "non-secure openstreetmaps elements loading on https site"
On pages like Groups, where maps are loading, the map images are not being loaded over a secure connection.

`Mixed Content: The page at _link_ was loaded over HTTPS, but requested an insecure image http://a.tile.openstreetmap.org/13/1874/3372.png. This content should also be served over HTTPS.`

[2016-08-01 23:44] hunternet93 commented on #630
A simple fix would be to change the template to use the `//` URL syntax, i.e. [//a.tile.openstreetmap.org/13/1874/3372.png](//a.tile.openstreetmap.org/13/1874/3372.png), which tells the browser to use whichever protocol (http or https) the current page is using. I probably won't have time to make a PR for this in the next couple weeks though.

[2016-08-02 19:48] ViperSBT opened #631 "Directory Map Not Showing All Families/Profiles"
For some reason the first few people I put into the system showed up on the Directory Map.  This was cool as I got to see the "footprint" of our members.  However as I kept adding new members, the map wasn't changing.  I can go into the members and select "View on map" and it brings up the map location and all looks right, but they still don't show on the overall Directory Map.

Additionally, when

[2016-08-02 20:51] ViperSBT commented on #631
I've run through the address information in the families table of the DB and can't find any garbage or hidden characters that would be causing an issue.

[2016-08-03 21:51] ViperSBT commented on #631
This gets stranger and stranger, I can't figure out any pattern on what is happening...  However, I entered in two different families that live on the same street, just a few doors down from each other.  One is showing on the map and the other isn't.

By the way these are all being manually keyed into the system, no imports...

[2016-08-03 21:56] ViperSBT commented on #631
![screenshot_7](https://cloud.githubusercontent.com/assets/16611543/17383369/2e7951ca-599b-11e6-8601-b3a9769d17f8.png)
![screenshot_8](https://cloud.githubusercontent.com/assets/16611543/17383377/34607460-599b-11e6-8636-491ea04b13c2.png)

[2016-08-04 00:36] seven1m commented on #628
This is fixed in master and should be fixed in the next nightly deb package.

[2016-08-04 00:36] #628 closed

[2016-08-04 00:46] internetjason commented on #628
Thanks, Tim. I am not able to access the site now. It's doing the weird redirect to onebody instead of loading the site. I hope you're still working on it.

—
Jason Carroll
469-766-1041
Sent on the go

On Aug 3, 2016, 7:36 PM -0500, Tim Morgan <notifications@github.com>, wrote:

[2016-09-06 22:03] sherifkozman opened #632 "CSV import fails when country field value is long"
Release : 3.5.0

Import feature reported error when inserting long string into the country field (i.e.: United States of America)

Actor crashed!
ActiveRecord::StatementInvalid: Mysql2::Error: Data too long for column 'error_message' at row 1: UPDATE `imports` SET `status` = 101, `error_message` = 'Mysql2::Error: Data too long for column \'country\' at row 1: INSERT INTO `families` (`site_id`, `la

[2016-09-12 23:35] sherifkozman opened #633 "updating a user password overrides email with the wrong value"
When manually trying to override or update another user password the email address field is overridden with the logged in user(admin) email ID rather than user's own email ID

Steps :

- Log in as an Admin
- Choose any user to update
- Select Password from the profile menu
- User email field will display admin email value instead of the user email

[2016-09-22 21:11] andrewwippler commented on #629
do a `vagrant up --provider virtualbox` instead. Looks like it is trying to provision to AWS.

[2016-09-22 21:15] andrewwippler commented on #632
According to https://github.com/churchio/onebody/blob/master/db/schema.rb#L203 there is a 2 character limit on the country field. The quick fix is to shorten the country code before you import it.

@seven1m Any reason why the app did not catch this before it imported it?

[2016-09-22 21:26] andrewwippler commented on #631
The banner uses open street map and the `View on map` link [uses Google Maps](https://github.com/churchio/onebody/blob/03135182ebfabbda60bf789ae11f02b6ae15452a/app/views/families/show.html.haml#L31).

It is quite common for new neighborhoods not to show up in OpenStreetMap/Map Quest/etc and be seen inside of Google Maps. I think this may be the case here. OpenStreetMap is community driven whereas

[2016-09-22 22:34] seven1m commented on #632
Probably just need a validation on length of that attribute on the model.

[2016-09-23 19:09] ViperSBT commented on #631
The issue isn't so much about the OpenStreet banner, as much as it is about Google Maps...  I just happened to notate there is a correlation.  If I click on "View on Map" the pointer comes up showing the location.  However, when I click on the Directory Map, the location isn't showing.

[2016-09-23 19:33] andrewwippler commented on #632
Ok, I will write this up.

[2016-09-25 23:53] andrewwippler commented on #632
The import action is not going through the family model which has the restriction already in place. There would need to be a limitation on the import model - I just can't seem to find this location in the code.

I also noticed that the default settings allow for creation of a 3 character country code which would trigger this issue as well.

[2016-09-26 17:13] seven1m commented on #632
@andrewwippler thanks for taking a stab at it.

[2016-09-27 15:14] ViperSBT commented on #631
The issue isn't so much about the OpenStreet banner, as much as it is about Google Maps...  I just happened to notate there is a correlation.  If I click on "View on Map" the pointer comes up showing the location.  However, when I click on the Directory Map, the location isn't showing.

[2016-09-28 03:00] #632 closed

[2016-09-28 03:02] seven1m commented on #633
@sherifkozman I cannot reproduce this. Is it possible your browser is auto-completing the email address?

[2016-09-28 03:04] seven1m commented on #631
@ViperSBT this seems to be related to Google rate limiting geocoding requests. If you edit the family and click save, does the map update?

[2016-09-28 03:04] #629 closed

[2016-09-28 03:05] seven1m commented on #630
@internetjason or @hunternet93 could one of you see if you can apply this fix?

[2016-09-28 03:05] #615 closed

[2016-09-28 03:12] #619 closed

[2016-09-28 03:14] seven1m commented on #626
@TechWilk I believe this was fixed with the recent update to the example vhost here: https://github.com/churchio/onebody/blob/master/build/deb/vhost/nginx.conf

Please make sure your vhost has the new `proxy_set_header` lines, restart the server, and try again.

[2016-09-28 09:50] TechWilk commented on #626
@seven1m The vhost did indeed fix the http://onebody however the ajax URL is still not using https.

[code]

I've run the [SSL setup](https://github.com/churchio/onebody/wiki/SSL-Setup)
[code]

And I've also tried the following two vhosts:

vhost #1 (inspired by [Wiki](https://github.com/churchio/onebody/wiki/Serving-with-Nginx)):
[code]

vhost #2 (inspired by [default config](https://github.com/c

[2016-09-28 13:17] internetjason commented on #630
@seven1m I'm happy to try, but I need more detailed instructions on what you'd like me to do since I'm a super rookie.

[2016-09-28 14:08] seven1m commented on #626
OK I reopend the issue so we can get that fixed. Thanks!

[2016-09-30 16:20] ViperSBT commented on #631
No luck.  I went in and edited a family and saved them.  Still no map showing in the banner, I can click on the View on Map link and Google Maps takes me right there, but when I go to find them on the Map Directory, they are not showing.

[2016-09-30 16:59] andrewwippler commented on #631
Search for their address on Google maps - the pointer goes to the right location.

Search for their address on OpenStreeMap - pointer is in the same spot for both addresses.

---

I still don't think this is a bug with Onebody.

[2016-09-30 17:02] ViperSBT commented on #631
Whatever is generating the Directory Map is having a problem.  Where the "bug" is I can't say, but it is definitely not work...  I am more than happy to provide whatever assistance I can to help track this down and resolve it.

[2016-09-30 23:05] sherifkozman commented on #633
@seven1m i did double check and confirmed its a Safari only issue which means its browser related, i am sorry for the hassle for everyone

[2016-09-30 23:05] #633 closed

[2016-10-04 03:02] seven1m commented on #179
The beginning of custom fields has been added in #636. While it's only on People, it's a good start, and I want to start building smaller, more focused issues/PRs so others can chip in. Closing this larger issue in favor of that approach.

[2016-10-04 03:02] #179 closed

[2016-10-06 01:16] seven1m commented on #631
@ViperSBT both of those addresses should geocode just fine.

[code]

I don't know what the problem is! Can you try this in a console?

[code]

...and then paste the results here?

[2016-10-06 01:22] #630 closed

[2016-10-06 01:22] seven1m commented on #630
This should be fixed on master now!

[2016-10-06 01:26] #626 closed

[2016-10-06 01:27] seven1m commented on #626
OK, this is fixed on master now. Thanks for letting us know!

[2016-10-06 01:31] #613 closed

[2016-10-06 01:48] #606 closed

[2016-10-06 01:49] seven1m commented on #606
@pherzogchc I'm embarrassed to say this has been broken for a long time. 😢

I just pushed a commit to master that reinstates it.

[2016-10-06 01:50] seven1m commented on #605
I believe this is fixed. I just tested by changing the default privacy settings and creating a new person. Worked!

[2016-10-06 01:50] #605 closed

[2016-10-06 01:51] seven1m commented on #600
Finished in #627.

[2016-10-06 01:51] #600 closed

[2016-10-06 01:56] #596 closed

[2016-10-06 01:57] seven1m commented on #596
Fixed on master.

[2016-10-06 02:05] #565 closed

[2016-10-06 16:04] pherzogchc commented on #606
YES!  Thanks Tim!

On Wed, Oct 5, 2016 at 8:49 PM Tim Morgan <notifications@github.com> wrote:

[2016-10-11 16:22] ViperSBT commented on #631
Here is what I got, but don't think it is what you were looking for:

[code]

[2016-10-12 01:19] seven1m commented on #566
I removed "birthday" from the issue title. We need birthday to protect children from signing up.

[2016-10-12 03:19] seven1m commented on #631
@ViperSBT sorry about that, I wasn't very clear at all!

You need to run the Rails console, like this:

[code]

...then you can type the commands I gave:

[code]

[2016-10-12 13:48] ViperSBT commented on #631
Newsflash, I'm not proficient in Rails...  :)

@bryson:/var/www/onebody$ onebody run console
onebody: command not found
@bryson:/var/www/onebody$ irb
irb(main):001:0> onebody run console
NameError: undefined local variable or method `console' for main:Object
        from (irb):1
        from /usr/bin/irb:11:in `<main>'
irb(main):002:0> exit

[2016-10-12 14:26] seven1m commented on #631
OH! I'm sorry, I assumed you installed via the Debian package. Instead of `onebody run console` try ` bin/rails console` or just `rails console`.

[2016-10-12 14:33] ViperSBT commented on #631
We'll get there enventually.. :)

`@bryson:/var/www/onebody$ rails console
/var/www/onebody/vendor/bundle/ruby/2.3.0/gems/mysql2-0.4.3/lib/mysql2/client.rb:87:in `connect': Access denied for user 'onebody'@'localhost' to database 'onebody_dev' (Mysql2::Error)
        from /var/www/onebody/vendor/bundle/ruby/2.3.0/gems/mysql2-0.4.3/lib/mysql2/client.rb:87:in `initialize'
        from /var/www/onebo

[2016-10-12 15:46] seven1m commented on #631
Uggg, ok try `RAILS_ENV=production rails console`.

Sorry!

[2016-10-12 16:16] ViperSBT commented on #631
OK, now we got somewhere... :)

`@bryson:/var/www/onebody$ RAILS_ENV=production rails console
Sites:
  id    name                                     host
  ----- ---------------------------------------- ------------------------------
* 1     Default                                  dir.sbcsavannah.org

Type "use ID" to change selected site...
Loading production environment (Rails 4.2.6)
irb(main)

[2016-10-12 17:25] seven1m commented on #631
@ViperSBT thanks for sending the output. (I deleted the comment because it contained personal information.)

I believe you used the wrong family ID. Try the same thing with the proper family ID and see if the latitude and longitude comes back. Thanks!

(And next time, you can scrub the personal identifying info from your paste. Thanks!)

[2016-10-12 17:32] ViperSBT commented on #631
While it is a different family, it suffers the same problem.  There are probably over 20 families that this is affecting.

Here is another....
[console.txt](https://github.com/churchio/onebody/files/525232/console.txt)

[2016-10-13 01:00] seven1m commented on #631
So this tells me that geocoding is working just fine. Both of your example addresses were turned in to latitude and longitudes.

If you go and look at those families in OneBody now, do they show a map?

[2016-10-15 03:51] AndyGauge commented on #252
Can this be closed now?

[2016-10-15 04:05] seven1m commented on #252
Yep!

[2016-10-15 04:05] #252 closed

[2016-10-16 13:58] #327 closed

[2016-10-16 20:37] AndyGauge commented on #327
To use this feature, click the Admin tab on the left.  At the bottom, click settings under configuration.  Click the features tab in site settings and uncheck the Stream option.

[2016-10-16 21:36] silvanet123 opened #646 "/email.mime startup error"
Running on DigitalOcean Droplet installed by your installer, I am not receiving emails after mailgun setup.  Below is what I think are the relevant log entries:

I, [2016-10-15T23:39:33.999685 #11064]  INFO -- : Started GET "/email.mime" for 127.0.0.1 at 2016-10-15 23:39:33 +0000
F, [2016-10-15T23:39:34.003436 #11064] FATAL -- :
ActionController::RoutingError (No route matches [GET] "/email.mime")

[2016-10-21 20:17] ViperSBT commented on #631
Nope, still not working.  Look at these two images.  One shows the Directory Map and the other shows View On Map from the family page.
![screenshot_2](https://cloud.githubusercontent.com/assets/16611543/19610306/6b81a196-97a1-11e6-94a1-aaccdd27e42d.png)
![screenshot_3](https://cloud.githubusercontent.com/assets/16611543/19610305/6b8084f0-97a1-11e6-8722-83ea8c680a01.png)

[2016-11-01 21:01] sherifkozman opened #647 "(Removed person) doesn't get removed from group membership"
When deleting or removing a user (gets labeled as "Removed Person") , user details remains as a member of any of his previous groups memberships.

![group members](https://cloud.githubusercontent.com/assets/666788/19907347/b225358e-a03b-11e6-99cb-15ae3fe2a0be.jpg)
![removed person profile](https://cloud.githubusercontent.com/assets/666788/19907349/b28dc0d6-a03b-11e6-8927-1e77657b9feb.jpg)

[2016-11-02 02:50] seven1m commented on #647
Hmmm, that's not supposed to happen! Here is the callback that is supposed to remove deleted people from groups: https://github.com/churchio/onebody/blob/master/app/models/concerns/person/memberships.rb#L12

[2016-11-02 03:00] sherifkozman commented on #647
Would adding people to a group using the rails console bypass this and add
deleted persons as well?

group = Group.find(68)
Person.find_each { |p| group.memberships.create!(person: p) }

That's the only explanation I can think of or its some kind of fluke!
On Tue, Nov 1, 2016 at 7:50 PM Tim Morgan <notifications@github.com> wrote:

[2016-11-02 23:27] seven1m commented on #647
Yes! That would totally do it! 😆

[2016-11-03 00:02] sherifkozman commented on #647
Great
How would we identify "removed persons" when assigning group membership
then so they don't get added?
On Wed, Nov 2, 2016 at 4:27 PM Tim Morgan <notifications@github.com> wrote:

[2016-11-03 00:54] seven1m commented on #647
`Person.undeleted.find_each` instead of `Person.find_each`. Sorry about that!

[2016-11-03 00:54] #647 closed

[2016-11-10 21:51] coptic-bola commented on #322
I'd be happy to take this on, if we can reopen it.

[2016-11-15 15:48] andrewwippler commented on #646
I am assuming you have followed the troubleshooting section: https://github.com/churchio/onebody/wiki/Mailgun-Email-Setup

Have you restarted your server?

[2016-11-15 15:50] andrewwippler commented on #473
Can we close this? Why do we need to support old technology?

[2017-02-10 00:45] itsbm opened #648 "Screen can scroll horizontally to unformatted space on mobile device"
When the menu is visible, the screen can be scrolled to the left exposing white space to the right on narrow format mobile device. I think previously a formatting issue similar to this was solved.

[2017-02-10 02:02] seven1m commented on #646
I believe this was fixed in the latest release. Please reopen if it doesn't work with 3.6.0.

[2017-02-10 02:02] #646 closed

[2017-02-10 02:02] #609 closed

[2017-02-10 02:09] seven1m commented on #506
Finished in 6c528c2eeb5cad8108f086e7c4ab9761aa7e6083

[2017-02-10 02:09] #506 closed

[2017-02-10 02:10] seven1m commented on #546
I'm going to close this for now as I don't think anyone is actively working on it and I'm trying to clean up the (very long) issues list.

[2017-02-10 02:10] #546 closed

[2017-02-10 02:31] seven1m commented on #556
Closing this in favor of tracking the work on the PR #650....

Many thanks to @davidleach for getting this 80% of the way!!

[2017-02-10 02:31] #556 closed

[2017-02-15 03:25] #648 closed

[2017-02-15 03:33] seven1m commented on #545
I was wrong. This works fine.

[2017-02-15 03:33] #545 closed

[2017-02-15 03:34] #473 closed

[2017-02-15 03:35] seven1m commented on #476
This doesn't seem to be an issue with the new debian package. If anyone needs help fixing this on an existing install, please jump in chat at http://chat.church.io/

[2017-02-15 03:35] #476 closed

[2017-02-17 02:22] jandrusk opened #652 "Web Interface In Error State After Vagrant Up"
After following the directions on the Git home page, accessing http://localhost:8080 produces error: "We're sorry, but something went wrong.
The issue has been logged for investigation. Please try again later."

Host OS is Debian Stretch. Here is the technical dump from the page:

Error:
Web application could not be started
Error ID:
2f97516a
Details:
An error occurred while starting up the preloa

[2017-02-17 04:08] #652 closed

[2017-02-17 04:08] seven1m commented on #652
Thanks for reporting it!

[2017-02-17 12:53] seven1m commented on #652
Here's how to fix your existing vagrant machine:

[code]

If that doesn't work, you can do `vagrant destroy` followed by `vagrant up`.

[2017-02-18 04:50] seven1m commented on #255
This was added in 5b5a99762b7f4d5f3dddf164e5ac2270f56b01dd and 235f1865d916a0aeaef611effbc3ead5a4d33f28.

[2017-02-18 04:50] #255 closed

[2017-02-18 04:52] #474 closed

[2017-02-18 04:52] #511 closed

[2017-02-18 04:52] #512 closed

[2017-02-19 03:32] seven1m commented on #631
As far as I can tell, this works perfectly when I use those addresses. I cannot find anything wrong with the geocoder.

My one last thought on the subject is that maybe there is some confusion about who should show up on the map and how privacy settings affect the map display.

Here are the reasons someone's marker may not show on a map:

* Person `visible` attribute is set to false. This is set o

[2017-02-19 03:32] #631 closed

[2017-02-19 04:37] #595 closed

[2017-02-19 04:37] seven1m commented on #595
Done!

[2017-02-19 17:40] seven1m commented on #543
I set the default to inactive (0), which should be good enough.

I don't see an issue with the nils, but I'll probably set those to 0 via some SQL.

[2017-02-19 17:40] #543 closed

[2017-02-20 02:56] #463 closed

[2017-02-20 02:56] seven1m commented on #463
I ended up taking a slightly different approach to this by setting a boolean `leader` column on the membership record.

[2017-02-25 02:41] #573 closed

[2017-02-25 02:41] #277 closed

[2017-02-25 14:45] seven1m opened #656 "Printed Directory with pictures can be too big for email"
[code]

[2017-02-25 18:25] #656 closed

[2017-02-25 23:12] seven1m opened #657 "Changing address on family does not update map coordinates"

[2017-02-25 23:22] seven1m commented on #657
Turns out I didn't refresh the page. 🤦‍♂️

[2017-02-25 23:22] #657 closed

[2017-03-04 04:29] #566 closed

[2017-03-04 04:30] seven1m commented on #566
Gender was already not required.

[2017-03-04 21:23] seven1m opened #658 "HTML Layout breaks when the logged in person has a really long name"

[2017-03-05 04:20] #547 closed

[2017-03-05 04:21] seven1m commented on #547
This will be fixed in the next release.

[2017-03-07 04:08] #658 closed

[2017-03-12 14:36] seven1m opened #660 "Unable to edit the name of an existing document"

[2017-03-14 19:20] jairbj opened #661 "Error in 3.7.0 when generate report."
I just installed v3.7.0, added some data and when I tried to generate some reports (/admin/reports) I have this screen for the 3 kinds of report available.

![temp](https://cloud.githubusercontent.com/assets/1747830/23918496/ef70acd0-08d1-11e7-81fd-a7615d0c3c9a.png)

[2017-03-15 01:58] jairbj commented on #661
Hi friend, I checked that this error occurs because of the dossier.yml file. According to the "dossier" gem documentation it needs to have the content of database.yml or a symbolic link. I copied my database.yml into the dossier.yml and the reports worked. I'm new to ruby/rails and I don't  figure out if it's possible to "import" one yml file into another to solve this issue.

[2017-03-15 03:32] seven1m commented on #661
@jairbj thanks for this report! I just checked on an instance of OneBody upgraded from 3.6.0 to 3.7.0 and the dossier.yml file is present and there is no error.

How did you install OneBody? How did you upgrade?

The fix is, as you said, to symlink dossier.yml to database.yml, but that should be automatic with an upgrade.

[2017-03-15 09:46] jairbj commented on #661
Hi, I made a manual fresh install on windows. I cloned github, created a
branch based on 3.7.0 release and followed the readme instructions.

On Mar 15, 2017 12:32 AM, "Tim Morgan" <notifications@github.com> wrote:

[2017-03-25 03:27] #661 closed

[2017-03-25 03:28] seven1m commented on #661
@jairbj sorry it took me awhile on this one. I realized that this file is a symlink and on Windows it isn't supported. So I added instructions in cbb2a60a76b46d44551054940c2ccf81fa51132a just now to copy `database.yml` to `dossier.yml`.

[2017-04-03 04:36] blikkies opened #662 "New Feature: Community Calender"
As a group leader have the ability to manage and maintain events on calendar.

[2017-04-03 05:09] seven1m commented on #662
@blikkies this is a great idea, and many have requested it. I am all for you or any developer working on this, but I'd like to reserve issues on GitHub for bugs and things that people are actively working on. If you want to discuss this feature, please hop in our Slack chat (chat.church.io) and let's get started!

[2017-04-03 05:09] #662 closed

[2017-04-05 02:26] seven1m commented on #551
This has been added to the master branch and will be in the next release

[2017-04-05 02:26] #551 closed

[2017-04-05 02:44] seven1m commented on #168
This was finished in 4e6d09d8ee7dc14e969ad0d66dbc5e51f785b7ec.

[2017-04-05 02:44] #168 closed

[2017-04-06 03:58] #343 closed

[2017-04-08 21:29] seven1m opened #663 "Fix "502 Bad Gateway" message from nginx"
When OneBody is restarted, nginx by default will return "502 Bad Gateway" to the user while the backend process is coming back online. I think there must be a setting in nginx to make it wait for the backend service to come online.

[2017-04-08 21:52] seven1m commented on #663
This makes me think the built-in proxy_pass in nginx can't do it:

http://serverfault.com/questions/259665/nginx-proxy-retry-while-backend-is-restarting

😞

[2017-04-12 21:09] alexanderdixon opened #664 "Date Picker on Public Attendance page uses incorrect format"
Using the following settings:

Full Date & Time: %d/%m/%Y %I:%M %p
Date: %d/%m/%Y

The dates appear to update correctly, however date picker on the public attendance page incorrectly assumes american date format.

Incorrect operation (on public attendance page)
![image](https://cloud.githubusercontent.com/assets/13705283/24979543/7d11449e-1fcc-11e7-8c68-9e68a6657b9d.png)

Correct operation (on non

[2017-04-12 23:46] #664 closed

[2017-04-12 23:46] seven1m commented on #664
Thanks for the bug report! This will be fixed in the next release.

[2017-04-23 15:25] hschin opened #665 "No route matches [POST] error when importing CSV data"
When importing CSV data, after parsing the import, clicking on the 'Save and continue' button or the 'Import Data Now!' button results in a `No route matches [POST] "/admin/imports/1"` error.

I can see the matching route when I run `rake:routes` though:
[code]

[2017-04-24 02:26] seven1m commented on #665
That's weird! I just tested and it seems to work for me... what browser are you using?

There is no route for `POST /admin/imports/1` (but there are routes for `PUT /admin/imports/1` and `POST /admin/imports`), so it seems the browser isn't sending the special `_method` argument perhaps?

[2017-04-24 09:19] hschin commented on #665
I've tried on both Chrome and Firefox. I even spun up a fresh DO droplet with the DO installer and I still got an error. I can see the `_method` argument being passed in the form data of the POST request so that shouldn't be a problem. I'm really puzzled by this, and now hearing that it works for you, it's even stranger.

[2017-04-25 03:15] seven1m commented on #665
@hschin are there any JavaScript errors in the Web Developer console during or after you click the button?

[2017-04-25 03:19] seven1m commented on #665
@hschin can you also try using another computer or perhaps a smart phone? I'm wondering if there is maybe some aggressive firewall running on your computer stripping out the needed parameter (a little far-fetched, but worth a shot).

[2017-04-29 17:33] hschin commented on #665
@seven1m no javascript errors and still the same error when trying on my iPad on cellular. do you think it could be due to a problem with the file i'm importing? that's the only other difference that i can think of.

[2017-05-07 23:10] seven1m opened #667 "Add a single page to see all prayer requests for public groups"

[2017-05-10 17:32] alexanderdixon opened #668 "Request: Checkin Totals"
It would be great if we could have totals at the top of the pages for attendance monitoring, both the public "share" form, and the logged in "Track attendance" page.

What I would like to see would be a total of checked in children and checked in adults.

[2017-05-29 02:52] #660 closed

[2017-06-18 18:01] itsbm opened #669 "Request: Map and export search results"
It would be useful to be able to display a map of the subset of people returned in a search query, and also to be able to export the results to csv.  A permission to control this feature might be good as well.

[2017-07-04 04:02] zarniwoop opened #672 ""Sequence" is an option for imports, no longer a Person attribute"
While importing from a CSV file, I wanted to provide the ordinal information for each family member so they would show up with parents first and then siblings from oldest to youngest.  I initially selected "sequence" from the list of fields I could import into, but when I continued with the import I got an error saying sequence was not an attribute of Person.  After some searching of the code I re

[2017-07-04 04:11] zarniwoop opened #673 "Allow "T" and "F" to be interpreted as true and false for boolean field imports"
As a PowerChurch user importing to OneBody from CSV,
I want OneBody to interpret "T" and "F" in boolean fields as true and false
So that I don't have to scrub the data before import to change those values myself.

[2017-07-04 04:13] zarniwoop opened #674 "Allow imported boolean fields to be interpreted in reverse"
As a PowerChurch user importing to OneBody from CSV,
I want OneBody to let me instruct it for boolean fields to read true from the CSV as false for the import and vice versa,
So that I can use the fields from PowerChurch member data such as "Adult?" and "Hide Email?" without the need to scrub them first before import.

[2017-07-04 04:17] zarniwoop opened #675 "Don't suggest family name change when only difference is "and" vs "&""
As a user who imports data that includes family names from our CMS,
I want OneBody not to suggest that the family name be changed to "Dick & Jane Smith" from "Dick and Jane Smith" (since they are semantically the same),
So that I don't inadvertently create a new family record on my next import update when a user made that suggested change and I am importing based on name match.

[2017-07-04 04:21] zarniwoop opened #676 "New families and individuals being created when importing by ID match (legacy IDs)"
As a user importing data through CSV from PowerChurch;
I want OneBody not to create new families and individuals when I ask it to match by ID, I include legacy_id and legacy_family_id in the import, and there are already People and Families in the database that match to those legacy IDs;
So that I don't have to match by name in order to prevent duplicate records from being created.

(If I need to

[2017-07-04 04:39] zarniwoop opened #677 "Misspelling in parent agreement for child access"
Noticed the following misspelling in the page where a parent allows a child to have access, found it in the translation YAML:

- In as_a_parent_agree_html, "guardian" is misspelled as "gaurdian"

[2017-07-04 04:41] zarniwoop opened #678 "Interpret slashes with no numbers as an empty date on import"
As a PowerChurch user who syncs data using CSV files,
I want OneBody to interpret "/  /" as an empty or null date when it is seen in an importing date field,
So that I do not have to scrub the CSV file after generating from PowerChurch for date fields that have no values (blank birthday or anniversary).

[2017-07-05 03:37] #677 closed

[2017-07-05 03:37] seven1m commented on #677
Thanks!

[2017-07-05 03:41] #672 closed

[2017-07-05 03:42] seven1m commented on #672
Good catch!

[2017-07-05 03:50] #673 closed

[2017-07-05 03:51] seven1m commented on #673
Great idea.

[2017-07-05 03:52] seven1m commented on #676
@zarniwoop I'm surprised by this issue. This is exactly how it's _supposed_ to work ... maybe there is a bug here. I'll look into this...

[2017-07-05 03:52] seven1m commented on #678
This seems like a reasonable request. I'll see what I can do...

[2017-07-06 03:35] #675 closed

[2017-07-06 03:39] seven1m commented on #675
Done!

[2017-07-06 15:52] AndyGauge commented on #467
I tried to recreate this.  What I got was a page without a Print Label button and no way to check-in family members.  I removed the style="display:hidden" and was able to click the button to get the "LabelWriter can not be found" but no check-ins finish.  Am I missing a setup step or has this bug changed since reported?

[2017-07-06 20:41] TechWilk opened #680 "CSV import fails if site setting "Require Strong Password" is set"
Originally reported through [Slack](https://churchio.slack.com/archives/C046A55L0/p1497519213286506), reposted here for visability and to aid tracking:
[code]

![error message 'password: is too weak'](https://user-images.githubusercontent.com/9367803/27931788-5f419b30-6293-11e7-8148-b2cbb8d07935.png)

[2017-07-07 03:18] #680 closed

[2017-07-07 03:18] seven1m commented on #680
Thanks for the reminder @TechWilk! Should be fixed now.

[2017-07-07 07:04] TechWilk opened #681 "Facebook auth scope 'read_stream' deprecated"
![screen shot 2017-07-07 at 08 04 12](https://user-images.githubusercontent.com/9367803/27946725-e9240ed0-62ea-11e7-9084-1d9b67ad3ca0.png)

https://developers.facebook.com/docs/facebook-login/permissions#reference-read_stream

If I remove the `read_stream` scope from `app/controllers/sessions_controller.rb#53` it throws the following exception on callback:
[code]

[2017-07-09 04:42] seven1m commented on #681
@TechWilk I just pushed 1b73d1b21461f53ca799485af0b30f6b78412d72 which might fix this. I don't have a FB app setup, so I can't test at the moment, but I can get it set up a bit later and try it out. Or maybe you can give it a whirl. Thanks!

[2017-07-28 17:09] draft13 opened #682 "Map not loading"
Setup using AMI, ran updates on the machine. The site (https://my.cfl.church) is loading/working fine.

However, when loading the map for the directory, I get this in Chrome's console:
[code]

![screen shot 2017-07-28 at 1 08 35 pm](https://user-images.githubusercontent.com/20907/28728309-203af346-7396-11e7-8677-514b7df8e991.png)

Interestingly, there are no other places on the site that shows a m

[2017-07-30 20:43] draft13 commented on #682
So, I was able to fix. Turns out, one must add the address correctly. Having the city/state reversed was the culprit. And also, on the group pages, the locations cannot be on one line, as well, as a comma after the state, e.g., "Longwood, FL, 32750" does not work.

[2017-07-30 20:43] #682 closed

[2017-07-31 05:24] #678 closed

[2017-08-01 05:24] seven1m commented on #676
@zarniwoop if you could provide a small sample file for me to test with, that would be helpful. Thanks!

[2017-08-01 05:26] seven1m commented on #674
@zarniwoop you might be interested in our [onebody-sync](https://github.com/churchio/onebody-sync/tree/master/powerchurch) project, which includes a script to export data from PowerChurch to CSV for import into OneBody. The script converts "adult" Y/N to "child" N/Y for import into OneBody.

Is this the only boolean field you need to reverse?

[2017-08-15 18:26] lelelelemon opened #683 "Other issue databases?"
Just want to know whether there is another issues database (except this one on github) for Onebody since we want to learn some performance related issues from it?

[2017-08-15 18:32] seven1m commented on #683
Nope, this is it. If you're experiencing an issue, feel free to post it here. Thanks.

[2017-08-15 18:32] #683 closed

[2017-08-18 19:08] lelelelemon opened #684 "any? to exists?"
in app/models/concerns/person/memberships.rb
15      def member_of?(group)
16       memberships.where(group_id: group.id).any?
17      end
any? should be replaced by exists?
since any? will issue query select count(*), but exists? will issue select 1 as ...

Same situations happen in:
app/models/concerns/person/friend.rb
person.friendship_requests.where(from_id: id, rejected: true).any?
person.fri

[2017-08-19 20:41] seven1m commented on #684
Feel free to open a PR with these changes and I'll merge. But I'm not too concerned about it, since the time required to count so few rows is so small anyway.

[2017-08-19 20:41] #684 closed

[2017-08-19 20:42] seven1m commented on #681
I'm going to close this as I *think* it's fixed.

[2017-08-19 20:42] #681 closed

[2017-08-19 20:42] seven1m commented on #676
I cannot reproduce this... closing until I get a sample file to test with.

[2017-08-19 20:42] #676 closed

[2017-08-19 20:43] seven1m commented on #674
I think onebody-sync is the correct approach. Interpreting import fields in reverse seems like a fairly narrow edge case that can be handled easily by an outside script. Adding UI for this would probably just confuse people.

[2017-08-19 20:43] #674 closed

[2017-08-19 20:44] seven1m commented on #663
I cannot find a solution for this. Closing.

[2017-08-19 20:44] #663 closed

[2017-08-20 02:03] lelelelemon opened #685 "loop update_attribute can be replaced by update_all"
[code]
I will make a pull request if you think this is worth doing

[2017-08-20 02:07] seven1m commented on #685
This code is not in OneBody. Did you mean to post this issue to another project?

[2017-08-20 02:07] #685 closed

[2017-08-21 02:36] lelelelemon opened #686 "count > 0 should be replaced by exists?"
[code]
could be changed to exists?

[2017-08-21 02:37] lelelelemon opened #687 ".count vs .size"
[code]
.count whatever will issue a query  but when the array is loaded, use .size is faster than .count

[2017-08-21 02:49] seven1m commented on #687
@lelelelemon PRs are welcome. I'll merge if you'll make the PR. Thanks.

[2017-08-21 02:49] #687 closed

[2017-08-21 02:49] seven1m commented on #686
@lelelelemon PRs are welcome. I'll merge if you'll make the PR. Thanks.

[2017-08-21 02:49] #686 closed

[2017-08-21 02:50] lelelelemon commented on #686
No prob, will make the PR soon

[2017-10-07 20:32] fadi-wissa opened #691 "Date Format Error"
If I modify the date format in the admin setting section:
http://<site-url>/admin/settings#tab-formats -> Date and set it to something like '%d %b %Y' the site crashes.

I've found out that this is caused by a null reference in app/helpers/application_helper.rb in datepicker_format where it tries to downcase date_format (which is undefined in case the date format contains anything other than the t

[2017-10-09 19:42] fadiwissa opened #692 "Reports are broken... apparently after rails version upgrade"
I think the reports module is affected by the fact that ApplicationController::Parameters no longer inherits from hash_with_indifferent_access in Rails 5+.

I keep getting this error when I try to run the group_contact_details report:
**NoMethodError at /reports/group_contact_details
undefined method `with_indifferent_access' for <ActionController::Parameters {"group_id"=>""} permitted: false>:Act

[2017-10-11 17:14] fadiwissa commented on #692
Thanks Tim.
HTML version is working for me now again ;)
I can see that you have removed xlsx format, and it seems that csv is not working (I get a csv with the column headers only and no data).
HTML is enough for my needs, but just logging in case you want to look into it.

[2017-10-17 21:14] hunternet93 opened #695 "OneBody Mobile App"
This is a tracking issue for work on an Android / iOS app for OneBody. The app itself is in [this repo](https://github.com/churchio/onebody-mobile), this issue is to track the OneBody changes needed to allow the app to work.

The app will use [Apache Cordova](http://cordova.apache.org/) to create an app wrapper that simply loads a OneBody instance in an in-app browser. It will also support push no

[2017-10-31 17:20] jeffmikels opened #696 "Can't login after upgrade to 3.8.0"
I have manually upgraded from 3.4.0 to 3.8.0 by doing a git checkout of every release and then running the migration and the asset compilation.

However, I can no longer log in.

I'm getting redirected to the `/pages/system/unauthorized` page. Any ideas why this is happening?

Here's the log:
[code]

[2017-10-31 18:17] jeffmikels opened #697 "How to delete people?"
How do I delete people from the system? I'm logged in as a super admin, but I can't find any way to delete a person record.

[2017-12-22 16:06] zarniwoop opened #699 "Apostrophe showing up as HTML entities in printed directory"
We have a family with an apostrophe in their name, they show up correctly on the site but in the printed directory they appear with the HTML entity inside their last name (like "O&#39;Neal").  Image attached showing what it looks like.
<img width="367" alt="apostrophe bug" src="https://user-images.githubusercontent.com/318328/34304538-cf55ab28-e6ff-11e7-93c8-349d9b0e5142.png">

[2017-12-28 15:08] masukomi opened #700 "security risk"
in your app.yml it says

` sudo: ['ALL=(ALL) NOPASSWD:ALL']`

if that is actually editing the sudoers file then i think you've opened up a _huge_ security hole in that anyone can now become root without needing a password.

[2017-12-29 00:15] seven1m commented on #700
I think it might be possible to reduce that. I’ll see what I can do.

To be clear though, a user would still need to log into the machine. The installer assumes you are not creating other users on your Digital Ocean vps instance.

[2017-12-31 11:44] seven1m opened #701 "Imported news posts sometimes show markup"
![post](https://user-images.githubusercontent.com/669/34461383-abe5a144-eded-11e7-8fe1-a66eec17e2e3.jpg)

[2018-01-06 23:21] deschmit opened #702 "ActiveRecord::UnknownAttributeError (unknown attribute 'create_as_active' for Import.):"
I'm testing out the software for the first time.  I've been able to manually setup a few members in the directory but now I'd like to test the import feature.  I get these errors in /var/log/onebody/production.log when doing an import

F, [2018-01-06T09:16:11.612264 #25246] FATAL -- :
ActiveRecord::UnknownAttributeError (unknown attribute 'create_as_active' for Import.):
  app/controllers/administ

[2018-01-17 13:13] dwainehohne opened #703 "Import Issue"
When importing people into the directory, I get to the page where you define the fields from the CSV file, and when clicking "Save & Continue" I am met with an error saying:

The page you were looking for doesn't exist.
You may have mistyped the address or the page may have moved.

This error comes up even if I select the option to skip preview.
![screen shot 2018-01-17 at 15 08 38](https://user-i

[2018-03-18 15:04] seanfcarroll opened #704 "Vagrant install not working"
Awesome project! This is a really inspiring app.
I tried the quick start install using Vagrant, but I am getting errors. Thanks for any comments on how to fix this.

<img width="986" alt="screen shot 2018-03-18 at 16 01 49" src="https://user-images.githubusercontent.com/11340230/37567333-dbf7b83a-2ac5-11e8-95dd-ea5fa67fdef8.png">

[2018-04-18 17:46] arvychile commented on #704
Hii, I'm having same exact problem. Any pointers on howto fix this?

[2018-06-11 18:57] Mbd06b opened #705 "gpg key request fails on Ubuntu 16 install steps."
curl https://apt.church.io/gpg.key  returns:

``<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN"> <html><head> <title>403 Forbidden</title> </head><body> <h1>Forbidden</h1> <p>You don't have permission to access /gpg.key on this server.<br /> </p> <hr> <address>Apache/2.4.29 (Ubuntu) Server at apt.church.io Port 443</address> `

Full command returns...
`curl https://apt.church.io/gpg.key | sudo a

[2018-09-24 18:06] Nomisdk opened #706 "We're sorry, but something went wrong."
Hi

I get this message when i go to the Admin module.
We're sorry, but something went wrong.
We've been notified about this issue and we'll take a look at it shortly.

I have downloaded and setup the Virtual OVF package and set it up 2 days ago, and have testing it a little bit.

How do i fix this error?

[2018-09-27 00:42] itsbm commented on #706
Same problem here, just started a couple days ago with no changes on my end.
apache error.log below

App 1946 stderr: Started GET "/admin" for xxx.xxx.xxx.xxx at 2018-09-26 17:36:18 -0700
App 1946 stderr: Processing by Administration::DashboardsController#show as HTML
App 1946 stderr:   Rendered administration/dashboards/show.html.haml within layouts/default (292.4ms)
App 1946 stderr: Completed 50

[2018-09-27 12:10] seven1m commented on #706
I’m sprry guys. I’ll take a look at this today.

[2018-09-27 12:52] seven1m commented on #706
Could you please try editing line 14 of `lib/version_info.rb` so that it looks like this:

[code]

Restart OneBody and see if the error goes away.

[2018-09-27 13:38] seven1m commented on #706
This is fixed in the code on GitHub. I'll be making a new release shortly.

[2018-09-28 17:40] Nomisdk opened #707 "emails.mime?"
Hi

I have setup the integration to Mailgun, and sending email works fine.
But i cant seem to figure out how to recieve email?
I am following the guide at: https://github.com/seven1m/onebody/wiki/Mailgun-Email-Setup

I have added the " 0 	catch_all() 	forward("http://members.mychurch.com/emails.mime")"
(And changed the url to my own site)

But i dont seem to work.

When i browse to the /emails.mim

[2018-09-29 17:51] seven1m commented on #707
The URL only response to a POST request. I'm not sure why the Mailgun route wouldn't be working for you...

If you run the following from a Linux terminal, do you see similar output?

[code]

[2018-09-29 17:52] seven1m commented on #706
I got the deb package builds working again (they were broken for awhile) and there is a new "nightly" deb package available that fixes this. Please [backup your db and files](https://github.com/seven1m/onebody/wiki/Backups) then update to the Nightly package by following the instructions here: https://github.com/seven1m/onebody/wiki/Install-Deb-Package-(Debian-and-Ubuntu)#nightly-packages-master-b

[2018-09-29 17:55] seven1m commented on #697
You go to the family page by clicking on the family name. You can delete a person from there.

[2018-09-29 17:55] #697 closed

[2018-09-29 17:55] #696 closed

[2018-09-29 17:56] seven1m commented on #695
Closing this for now. If there is renewed interest in it, we can reopen.

[2018-09-29 17:56] #695 closed

[2018-09-29 20:38] seven1m commented on #706
I just realized the new release will need a proper node.js installation on your server. This is new, as the old release didn't need it.

To install:

[code]

[2018-09-30 11:50] seven1m commented on #704
This is fixed in 810e96bbf9bee4a2e0dd025b2d4be62a4711f1e7

[2018-09-30 11:50] #704 closed

[2018-09-30 11:58] seven1m commented on #702
I cannot reproduce this. The attribute does indeed exist, provided by the 'flag_shih_tzu' gem. Perhaps the database migration for adding the corresponding 'flags' column didn't run or your app didn't get restarted after an upgrade. I'm closing, but we can reopen if you want to troubleshoot some more. (Sorry, I know 10 months to respond to an issue is horrible; I didn't see this issue originally)

[2018-09-30 11:58] #702 closed

[2018-09-30 12:14] #692 closed

[2018-09-30 18:50] #700 closed

[2018-09-30 18:52] #707 closed

[2018-10-02 01:41] seven1m commented on #703
I believe this is fixed on the latest master branch. Next release will have it fixed, and the nightly package already does.

[2018-10-02 01:41] #703 closed

[2018-10-02 01:43] seven1m commented on #706
This will be fixed in the next release, which I am working on testing.

The fix is presently in the nightly package, in case you're feeling adventurous. Otherwise, 3.9.0 should be out shortly. Thanks!

[2018-10-02 01:43] #706 closed

[2018-10-03 20:02] Nomisdk opened #709 "Changing other users information"
Hi

Not really a issue, but i cant seem to find any function where i as a Admin, can update/change users information.
Is that not possible?

[2018-10-03 20:20] Mbd06b commented on #709
Select a person from the directory.
While looking at their profile. In the menu on the left. "Profile" will be
highlighted.
Click "Edit Profile", and you can edit any profile as an administrator.

Let me know if that works.

*Matthew Dowell*
mbd06b@gmail.com
(210) 386-2786
10046 Oakland Rd.
San Antonio, TX 78240

On Wed, Oct 3, 2018 at 3:02 PM Nomisdk <notifications@github.com> wrote:

[2018-10-03 22:36] seven1m commented on #709
That is the answer, thanks! I'm going to close this, but feel free to comment if you are still having trouble.

[2018-10-03 22:36] #709 closed

[2018-10-09 02:53] Mbd06b opened #710 "Families not Geocoding after starting import - OverQueryLimitError"
Closest issue I could find was:  https://github.com/seven1m/onebody/issues/631
I've updated every family individually at least once, since I've manually imported family photos.
But still out of nearly 500 families, **only 10 are geocoded.** so I think there's a slightly different issue.

I'm running in a CentOS environment. I ran the following commands to investigate the typical family not geocodi

[2018-10-09 03:07] Mbd06b commented on #710
Per the OverQueryLimitError
from: app/models/concerns/geocode.rb:21:in `geocode'

My installation clearly missed commit that happened 7 days ago that addressed some geocoding issues during import.

Located:
https://github.com/seven1m/onebody/tree/master/app/models

[2018-10-09 14:36] Mbd06b commented on #710
Update:
I've crashed my installation, I've been on a 3.9-pre master build. I've done a `git checkout master` to capture the recent changes, which include updates to the Geocode bug, and have gone through a re-compiling process.

Phusion Passenger doesn't make it past the prebuild phase a drops me on a Passenger generated error screen, that fails on the setup_load_paths.rb .

Background:
To get One

[2018-10-09 15:08] seven1m commented on #710
We have other ways of installing OneBody, including a Debian package. Manual install on CentOS is definitely going to take some fiddly work.

I'm afraid I don't have any specific advice for your situation. Getting `bundle exec rails console` to work would be the first step. Then you can move on to making Passenger happy.

[2018-10-09 22:52] Mbd06b commented on #710
@seven1m

Ok I've successfully reinstalled passenger and ruby now using rvm, and am still having difficulties, here's the error log.

[code]

[2018-10-10 14:47] Mbd06b commented on #710
# ```
bundle exec rails console
Not notifying due to an invalid api_key
/home/gfhqagmy/public_html/family/onebody/vendor/bundle/ruby/2.3.0/gems/mysql2-0.5.2/lib/mysql2/client.rb:131:in `_query': Mysql2::Error: Table 'gfhqagmy_onebody_dev.sites' doesn't exist: SHOW FULL FIELDS FROM `sites` (ActiveRecord::StatementInvalid)

[code]

[2018-10-10 14:59] Mbd06b commented on #710
Ok I got the console working with:

`RAILS_ENV=production bundle exec rails console`

[2018-10-11 19:12] Mbd06b commented on #710
I'm back up and running with the updated program files. But I still have only 10 geocoded families.

[2018-10-21 20:18] mhartel opened #711 "Cannot access admin page after updates"
Hello -

I am running OneBody 3.8 on a digital ocean droplet.  I applied some ubuntu updates to the droplet on October 2nd.  Since applying those updates I am getting the following when trying to access the admin page via the browser.

![image](https://user-images.githubusercontent.com/44347559/47271952-ae1a7380-d54c-11e8-96a7-811c7c37e16e.png)

Below are the updates (i believe) that caused the is

[2018-10-21 20:49] seven1m commented on #711
@mhartel I’m sorry, this is a bug in the last released version. See
https://github.com/seven1m/onebody/issues/706#issuecomment-425078947 for a quick fix. The next release will have this fix.

[2018-10-23 17:14] mhartel commented on #711
@seven1m  Thanks for that update.  I'm sorry where is the file relative to root?  I'm having a bit of trouble navigating here.  Sorry I'm not a Linux admin ;)

[2018-10-23 18:19] seven1m commented on #711
Try `/opt/onebody/lib/version_info.rb`

[2018-10-23 23:32] mhartel commented on #711
Thank you Tim.  That worked great.  I even know how to use vi now!

[2018-10-23 23:32] #711 closed

[2018-10-28 11:43] blikkies opened #712 "Admin page not working"
Hi Tim

Notices Admin page not working,  though it could be something wrong with my specific install,  I setup a new instance by have the same issue on new droplet.

Is there anything I need to do to fix this.

Thanks
Dave

[2018-10-28 11:51] seven1m commented on #712
Please see solution on #711. Thanks!

[2018-10-28 11:59] blikkies commented on #712
Sorted it, thanks,  neglected to look at closed issues.  thanks for quick reply.

God Bless
Dave

[2018-10-28 12:20] seven1m commented on #712
I’ll leave this issue open and try to get a release out today or tomorrow to fix.

[2018-10-28 12:34] blikkies commented on #712
Hi Tim

Your a legend,  thanks from down under.

Was sad to see that you had to make the decision to close down Church.io <http://church.io/>.  Just to let you know if it was not for that collaboration I would not have stumbled across Onebody.  I am still in the process of getting church members used to the idea of the electronic directory functionality and private community that is Onebody.

I wa

[2018-12-05 06:20] itsbm opened #713 "Duplicate position column halts rake"
Hi! I am getting an error after pulling the latest updates from Master and trying to recompile. the position column isn't in the custom fields already, but there is a position column in the people table.

sudo RAILS_ENV=production bundle exec rake db:migrate --trace

** Invoke db:migrate (first_time)
** Invoke environment (first_time)
** Execute environment
** Invoke db:load_config (first_time)
**

[2018-12-05 07:19] itsbm commented on #713
I resolved the issue by simply deleting onebody/db/migrate20170819020242_add_position_to_custom_fields.rb

[2019-01-31 18:33] ShoeBar opened #714 "Family phone # doesn't appear for all families in printed directory"
We're checking all our congregation's listings in the printed directory, and not all families display the family phone number. In some cases, individual phone numbers appear, but this isn't always the case.
We've checked the sharing settings for our instance, and "home phone" is shown as being shared.
For what it's worth, we're using OneBody with the API to synch from PowerChurch.
Current printed

[2019-03-02 18:01] seven1m opened #715 "Vagrant box won't provision"
[code]

[2019-03-02 21:00] #715 closed

[2019-03-03 01:40] seven1m commented on #714
This should be fixed in the latest version.

[2019-03-03 01:40] #714 closed

[2019-03-03 01:41] seven1m commented on #712
This was fixed by resurrecting the old GitHub org so the old URL still works. I'm working on the next release of OneBody, which should point that URL to the new repo URL.

[2019-03-03 01:41] #712 closed

[2019-03-03 01:42] seven1m commented on #710
I'm not sure if this issue is still relevant... from reading back over it, I believe it was an older version and there were issues with the local install. Closing.

[2019-03-03 01:42] #710 closed

[2019-03-03 01:43] seven1m commented on #669
Realistically I don't think I'll get around to doing this. Doing some cleanup of the issues list...

[2019-03-03 01:43] #669 closed

[2019-03-03 01:43] seven1m commented on #668
Realistically I don't think I'll get around to doing this. Doing some cleanup of the issues list...

[2019-03-03 01:43] #668 closed

[2019-03-03 01:45] seven1m commented on #665
I've not seen this since this report and have not been able to reproduce. I'm going to say it's something to do with the network or browser or specific issue with the version of OneBody in use here. If you can reproduce on current master, please let me know!

[2019-03-03 01:45] #665 closed

[2019-03-03 01:45] seven1m commented on #598
Realistically I don't think I'll get around to doing this. Doing some cleanup of the issues list...

[2019-03-03 01:45] #598 closed

[2019-05-19 22:11] hfjlb opened #717 "Development Setup Using Vagrant"
I tried to install using Vagrant, but I am getting errors.
---------------------------------------------------------
  default: Processing triggers for libc-bin (2.27-3ubuntu1) ...
    default: ++ npm install -g yarn
    default: /tmp/vagrant-shell: line 13: npm: command not found
The SSH command responded with a non-zero exit status. Vagrant
assumes that this means the command failed. The output

[2019-05-19 22:37] hfjlb commented on #717
I tried vagrant reload --provision and get next error
-----------------------------------------------------------------
  default: error An unexpected error occurred: "EPROTO: protocol error, symlink '../../../../js-yaml/bin/js-yaml.js' -> '/vagrant/node_modules/@rails/webpacker/node_modules/.bin/js-yaml'".
    default: info If you think this is a bug, please open a bug report with the information

[2019-05-20 04:08] hfjlb commented on #717
I solved the problem buy two steps
1, execute the follow ps command as administrator
fsutil behavior set SymlinkEvaluation L2L:1 R2R:1 L2R:1 R2L:1
2, modify the vagrantfile
vb.customize ["setextradata", :id, "VBoxInternal2/SharedFoldersEnableSymlinksCreate/vagrant","1"]

[2019-10-07 00:34] dsoprea opened #718 "Include a list of features and more screenshots in the README"
The project has a very cushy rating, but it doesn't seem like there's anywhere I can go to see the list of features. There's a wiki and FAQ, but there's really nothing there other than a cautionary warning about the check-in feature being very broken.

Could use some help.

[2019-10-28 14:38] UnityOfFairfax commented on #589
👍

[2019-11-03 03:33] Fironet commented on #718
The details used to be hosted on a full website called Church.io ([example](https://web.archive.org/web/20150311032818/http://church.io/)) however that domain now redirects to a Gist list of various church related programs. Couldn't find what occurred in that regard.

[2020-02-27 06:34] loumarven opened #719 "Error when running 'vagrant up'"
**Issue**:
`vagrant up` not working

This is the error I get when I run `vagrant up`:

**Root cause**:
Required(?) bundler version was not installed. Ran `vagrant provision` and got this error:

**Solution**:

1. ssh into the vagrant box with `vagrant ssh`
2. run the command `sudo gem install bundler:1.17.3`
3. type `exit` to exit from the ssh session
4. run `vagrant provision`
5. run `vagrant up`

[2020-04-16 18:04] jwjwyoung opened #721 "ordering has been renamed to sequence"
https://github.com/seven1m/onebody/blob/2850071988f3e9678ca25b06518a16a5033bfad5/app/models/group.rb#L34

It seems we should order it by group_times.sequence since group_times.ordering has been renamed to sequence.

[2020-05-13 03:47] joshaidan commented on #719
See PR  #722. A fix for this is to edit Gemfile.lock, and change the last line at the bottom:

[code]

to this:

[code]
Rubygems seems to default to installing 2.1.4 now.

[2020-05-13 05:38] #719 closed